.about_area {
  padding-top: 100px;
}

.about_img img {
  width: 100%;
}

.about_title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--bg-dark);
}

.about_content p {
  margin-bottom: 20px;
  color: var(--txt-gray);
}

@media (min-width: 576px) {
  .about_area {
    padding-top: unset;
  }

  .about_title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .about_area .about_img {
    display: unset;
  }

  .about_title {
    line-height: 1.5;
  }
}
