.about-area {
  padding-top: 100px;
}

.about-img img {
  width: 100%;
}

.about-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.about-content p {
  margin-bottom: 20px;
  color: var(--txt-light-gray);
}

p.see-more-btn {
  color: var(--see-more-btn-color);
  cursor: pointer;
}

@media (min-width: 576px) {
  .about-area {
    padding-top: unset;
  }

  .about-title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .about-area .about-img {
    display: unset;
  }

  .about-title {
    line-height: 1.5;
  }
}
