.home-content h3 {
  font-size: 1.65rem;
  position: relative;
}

.home-content h1 {
  margin: 25px 0;
  font-size: 2.75em;
  line-height: 1.15;
}

.home-content h5 {
  font-size: 1.65rem;
}

.home-content .custom-btn {
  margin-top: 20px;
}

.home-content .cv-btn {
  display: none;
}

.home-right-img {
  display: none;
}

@media (min-width: 576px) {
  .home-content {
    padding: 0;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .home-content h3:after {
    content: "";
    width: 380px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 24%;
    background: var(--primary-color);
  }
}

@media (min-width: 768px) {
  .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h3:after {
    left: 38%;
  }

  .home-content h1 {
    font-size: 4rem;
    line-height: 1;
  }

  .home-content h5 {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .home-content .custom-btn {
    margin-top: 0;
    margin-right: 20px;
  }

  .home-content .custom-btn span {
    padding: 0 32px;
  }

  .home-content .cv-btn {
    display: unset;
    background-image: linear-gradient(var(--white-color), var(--white-color)),
      radial-gradient(circle at top left, var(--btn-gradient-1), var(--secondary-color));
    border: 2px double var(--secondary-color);
    color: var(--btn-text-dark);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none;
    text-transform: uppercase;
    background-origin: border-box;
  }

  .home-content .cv-btn:hover {
    background-image: linear-gradient(
        to right,
        var(--btn-gradient-1) 0%,
        var(--secondary-color) 100%
      ),
      radial-gradient(circle at top left, var(--btn-gradient-1), var(--secondary-color));
    border: 2px solid transparent;
    color: var(--white-color);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .cv-btn span {
    padding: 0 42px;
  }
}

@media (min-width: 992px) {
  .home-area {
    align-items: start;
    padding-top: 150px;
  }

  .home-content h3:after {
    width: 320px;
    left: 28%;
  }

  .home-right-img {
    display: unset;
  }

  .home-right-img img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 60% 40%;
    opacity: 0.9;
    transition: all 1s ease-in-out 0.25s;
  }

  .home-right-img img:hover {
    opacity: 1;
    border-radius: 40% 60%;
    box-shadow: 5px 5px 60px 10px var(--secondary-color);
  }
}

@media (min-width: 1200px) {
  .home-content h3:after {
    width: 610px;
    left: 23%;
    z-index: -1;
  }

  .home-right-img img {
    margin-top: 10px;
  }
}
