@media (min-width: 768px) {
  .nav-shadow {
    transition: all 1s ease 0s;
  }
}

@media (min-width: 992px) {
  .main-menu {
    min-height: 100px;
    display: flex;
  }

  .header-area .main-menu .nav-f1 {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .header-area nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-menu {
    max-width: 1320px;
  }
}
