.header-area {
  width: 100%;
}

.main-menu {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.no-shadow {
  box-shadow: none;
  transition: all 1s ease 0s;
}

.nav-shadow {
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  transition: all 1s ease 0s;
}

.navbar-brand {
  padding: 10px;
}

.navbar-toggler {
  border: none;
  margin-right: 10px;
}

.navbar-toggler svg {
  width: 25px;
  height: auto;
}

.navbar-toggler svg path {
  fill: #fff;
}

.nav-link {
  padding: 10px;
}

.navbar-nav .mp-navlink.nav-link {
  color: #7830bd !important;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  font-weight: 700;
}

.navbar-nav .nav-link.active {
  font-weight: 700;
}

@media (min-width: 768px) {
  .header-area .main-menu {
    background-color: #f4f4f9 !important;
  }

  .nav-shadow {
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 1s ease 0s;
  }
}

@media (min-width: 992px) {
  .main-menu {
    min-height: 100px;
    display: flex;
  }

  .header-area .main-menu .nav-f1 {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .header-area nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-menu {
    max-width: 1320px;
  }
}
