.project-modal .modal-body {
  padding: 0;
  position: relative;
}

.project-modal .carousel-item img,
.project-modal .carousel-item video {
  max-height: 610px;
  max-width: 100%;
  margin: 0 auto;
}

.project-modal .carousel-item video {
  padding: 0 20px;
}

.carousel-video {
  position: relative;
  z-index: 2;
  width: 90%;
}

.project-caption {
  display: none;
  text-align: center;
  font-size: 14px;
  background-color: var(--bg-color);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 0;
}

.project-caption p {
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}

@media (min-width:576px) {
  .project-modal .carousel-item img,
  .project-modal .carousel-item video {
    max-height: 710px;
  }

  .project-caption {
    display: unset;
  }
}