.projects-area {
  padding-top: 100px;
}

.projects-title {
  margin-bottom: 30px;
}

.projects-title h2 {
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.project-box {
  margin-bottom: 35px;
}

.single-project {
  cursor: pointer;
  text-align: center;
}

.single-project img {
  max-height: 211.5px;
  width: auto;
}

.short-info {
  margin-top: 20px;
}

.short-info h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.short-info h4 a {
  color: inherit;
}

@media (min-width: 576px) {
  .projects-title h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .projects-area {
    padding-top: 120px;
  }

  .projects-title {
    margin-bottom: 50px;
  }

  .projects-title h2 {
    font-size: 36px;
    line-height: 50px;
  }

  .project-box {
    margin-bottom: 80px;
  }

  .single-project img {
    max-height: 182.25px;
  }

  .short-info {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .projects-area {
    padding-top: 150px;
  }

  .single-project img {
    max-height: 161.98px;
  }
}