.skills-area {
  padding-top: 100px;
}

.skills-title {
  font-weight: 700;
}

.single-tech-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-tech-item img {
  height: 100px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.single-tech-item img:hover {
  filter: drop-shadow(15px 15px 3px var(--primary-shadow));
}

.my-info {
  padding: 50px 10px;
  background-color: var(--bg-my-info);
  text-align: center;
  position: relative;
}

.my-info::before {
  background: none;
  content: "";
  position: absolute;
  top: -25px;
  left: -50px;
  height: 175px;
  width: 175px;
}

.txt-large {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 9;
}

.txt-small {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 0.05em;
}

.contact {
  text-align: left;
}

.phone-icon {
  font-size: 50px;
  font-weight: 700;
}

.contact p {
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact h3 {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .skills-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .my-info {
    padding: 30px;
  }

  .my-info::before {
    background: url("/public/assets/imgs/my-info-bg.png") no-repeat;
  }

  .txt-large {
    font-size: 100px;
  }

  .txt-small {
    font-size: 1.5rem;
  }

  .phone-icon {
    font-size: 3.75rem;
  }

  .contact h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .skills-title {
    font-size: 2.25rem;
  }

  .my-info {
    padding-left: 15px;
    padding-right: 15px;
  }

  .txt-small {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .skills-area {
    padding-top: unset;
  }

  .skills-title {
    line-height: 1.5;
  }

  .single-tech-item {
    margin-bottom: 50px;
  }

  .my-info {
    padding-left: 10px;
    padding-right: 10px;
  }

  .txt-large {
    font-size: 5.5em;
  }

  .txt-small {
    font-size: 1.25rem;
  }

  .contact h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .my-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}
